body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Title bar */
.user-title {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

/* Target section */
.target {
  background-color: #0074e4;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Innings containers */
.innings-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Innings sections */
.innings {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px 20px;
  background-color: #fff;
}

/* Team flag */
.innings .team-flag {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Team details */
.innings .team-details p {
  margin: 5px 0;
}

/* Result section */
.result {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
}

/* Responsive design for tablets and larger screens */
@media screen and (min-width: 768px) {
  .innings {
    flex: 0 0 calc(45% - 20px);
  }
}


/* ... (previous CSS rules) */

/* Right Card (Target) */
.right-card {
  flex: 0 0 30%; /* Adjust the width as needed */
  background-color: yellowgreen;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-left: 78%;
  width: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Center Card (Result) */
.result-card {
  flex: 1;
  background-color: #f7f7f7;
  margin-left: 32%;
  padding: 20px;
  width: 30%;
  height: 20%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.profile-photo {
  width: 125px;
  background-color: antiquewhite;
  height: 125px;
  border-radius: 50%;
  bottom: -80px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo p {
  font-size: 75px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}


/* Responsive design for tablets and larger screens */
@media screen and (max-width: 768px) {
  .innings {
    flex: 0 0 calc(45% - 20px);
  }
  .right-card {
    width: 100%;
    margin-left: 0%;
  }
  .result-card {
    width: 100%;
    margin-left: 0%;
  }
}
